<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">
    <title>我勒个去</title>
    <link rel="stylesheet" href="/Public/BigSchool/css/common.css" />
    <link rel="stylesheet" href="/Public/BigSchool/css/index.css" />
    <link rel="stylesheet" href="/Public/BigSchool/css/article.css" />
    <style type="text/css">
        .news_list_container{padding-top:5px;padding-bottom:5px;}
        .news_list_title a{font-size:15px;line-height:20px;}
				input[type="submit"],input[type="button"],button{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-appearance:none}

    </style>  

</head>
<body>
<a name="#top"></a>
<style>
/*styleV2*/
.popularize_middle_text_01{ font-weight:bold}
.popularize_middle_text_02 span{ font-weight:bold; color:#66A41D}
.popularize_right a{
background:-moz-linear-gradient(top,#7AB731,#5C941A);background:-webkit-gradient(linear,0 0,0 100%,from(#7AB731),to(#5C941A));background-color:#64A11C; color:#fff; padding:4px 15px; border:1px solid #477A0B
}

</style>
<div class="header">
    <div class="menu_bar">
        <div class="menu_bar_left_box">
            <div class="menu_bar_left article_nav menu_bar_middle">
                <a href="#">首页</a> > 正文
            </div>
        </div>
		<div class="menu_bar_right_box">
        <div class="menu_bar_right">
            <a href="#"><img height="25" alt="云浮在线手机网" src="picture/home.png" /></a>
        </div>
    </div>
    </div>
	
</div>

<div class="main_content">





            <div class="section">
            
            <div class="video" style=" width:320px; margin:0 auto;">
            <video controls  autoplay="autoplay" poster="vod/1418_1.jpg"  width="320" height="240"  onclick="if(/Android/.test(navigator.userAgent))this.play();">
<source src="vod/1418_1.mp4" type="video/mp4" />
<source src="vod/1418_1.webm" type="video/webm" />
<source src="vod/1418_1.ogv" type="video/ogg" />
<object type="application/x-shockwave-flash" data="vod/flashfox.swf" width="320" height="240" style="position:relative;">
<param name="movie" value="vod/flashfox.swf" />
<param name="allowFullScreen" value="true" />
<param name="flashVars" value="autoplay=true&amp;controls=true&amp;loop=true&amp;src=1418_1.mp4" />
 <embed src="vod/flashfox.swf" width="320" height="240" style="position:relative;"  flashVars="autoplay=true&amp;controls=true&amp;loop=true&amp;poster=vod/1418_1.jpg&amp;src=1418_1.mp4"	allowFullScreen="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_en" />
<img alt="1418_1" src="vod/1418_1.jpg" style="position:absolute;left:0;" width="320" height="240" title="Video playback is not supported by your browser" />
</object>
</video>
         </div>   
            
        <div class="section_title">视频新闻</div>
        <div class="section_image_list">
            <table width="294" height="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
               
               
                <tr style="height:10px;"><td width="134"></td><td width="26"></td><td width="134"></td></tr>
                <tr>
                                        <td width="134">
                        <a href="#">
                            <p><img width="134" height="90" src="picture/ygnz5b3hds3320355-lp.jpg" alt="济南：储藏室着火后被扑灭 保安怕丢东西苦"></p>
                            <span>济南：储藏室着火后被扑灭 保安怕丢东西苦</span>
                        </a>
   
                    </td>
                                        <td width="26"> </td>
                                        <td width="134">
                        <a href="#">
                            <p><img width="134" height="90" src="picture/2014-12-09-59-3200-lp.jpg" alt="淮北同仁中学围墙坍塌 事发时正在进行篮球"></p>
                            <span>淮北同仁中学围墙坍塌 事发时正在进行篮球</span>
                        </a>
   
                    </td>
                                    </tr>
                </tbody></table>
        </div>
    </div>
    </div> 
<div class="footer_b">
        <div class="resume_top">
        <a href="#top" name="#top">
            <img src="picture/resume_top.png" width="38" height="38">
        </a>
    </div>
            <div class="menu_bar">
        <div class="menu_bar_left_box">
            <div class="menu_bar_left version">
                <a href="#">触屏版</a>
                <a href="#">电脑版</a>
				<a href="#">map</a>
            </div>
        </div>
        <div class="menu_bar_right_box">
            <div class="menu_bar_right">
                <a href="#">导航</a>
            </div>
        </div>
    </div>
      
    
        <div class="company_info">
        <p>版权所有</p>
        <p>合作：admin@gdyfs.com</p>
		<p>IPC备：<a href="#">粤ICP备12094668号-3</a></p>
    </div>
</div>


 
</body>
</html>