<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<meta name="format-detection" content="telephone=no">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style>
#info{
	margin: 5px;
}

#content{
	margin:0px;
}
</style>
<script>
function back(){
	window.
}
</script>
</head>
<body>

	<div class="container">
		<br>
		<div class="jumbotron">
		<p style="color:red;">错误:</p>
 		 <h2>{$error}</h2>
 		 <br>
  		<p><a class="btn btn-primary btn-lg btn-block" href="javascript:history.go(-1)" role="bottun">返回</a></p>
		</div>
    </div> <!-- /container -->


</body>
	