<!doctype html>
<html lang="en">
<link href="__PUBLIC__/erweima/css/amazeui.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/erweima/css/amazeui.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/erweima/css/app.css" rel="stylesheet" type="text/css" />


<script type="text/javascript" src="__PUBLIC__/erweima/js/amazeui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/erweima/js/app.js"></script>
<script type="text/javascript" src="__PUBLIC__/erweima/js/jquery.min.js"></script>

<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">



<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <title>智能宿舍</title>
  <link rel="stylesheet" href="css/amazeui.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <header>
    <div class="header-title" style="background-color:DarkSeaGreen;color:black">订制你的二维码贴纸</div>
  </header>
  <section class="detail-content">
    <div class="base-inf">
      <div class="position">这是你的二维码贴纸</div>
    </div>
    </div>
          </li>
          <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
		
            <div style ="float:left" class="am-u-sm-4 am-list-thumb">
             
                <img src="__PUBLIC__/erweima/i/10004_104.jpg" alt="你的二维码贴纸" width="304" height="228">
		  <table>
		  <tr>
		  <div>
	        <td>
				 <div style ="float:left"> <img src="__PUBLIC__/erweima/i/235105.jpg" alt="向上的箭头" width="154" height="78" ></div>
			</td>
			<td  nowrap">
				<div style ="float:left"> 长按上图可以保存你的二维码贴纸 </div>
			</td>
	
		

            </div>
            </tr>
           </table>
  </section>
  <footer>
   
  </footer>
<script src="js/jquery.min.js"></script>
<script src="js/amazeui.min.js"></script>
</body>
</html>
