<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<meta name="format-detection" content="telephone=no">
<link href="__PUBLIC__/Yikun/css/jquery.mobile-1.4.5.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/Yikun/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Yikun/js/jquery.mobile-1.4.5.js"></script>

<title>success</title>

</head>
<body>
	<div data-role="page" id="successpage" >
<script >


</script>
		<div data-role="content">
			<br>
			<br>
			<br>
			<p style="color:red"><strong>success!</strong></p>
			<div class="ui-corner-all custom-corners">
				<div class="ui-bar ui-bar-a">
				<h3>恭喜~</h3>
				</div>
				<div class="ui-body ui-body-a">
				<p>{$success}</p>
				</div>
			</div>
			
			<a href="__URL__" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-back  ui-btn-icon-left">返回首页</a>		

		</div>

	</div>

</body>
</html>