 <include file="./Application/Home/View/Public/jmobile_black_header.html" />

	
		<?php 
			echo '学号为 '.$xh.' 的学生学杂费信息';
			foreach($inforRes as $sfqk){ ?>

			<div data-role="collapsible"> 
			<h1><?php echo '收费项目: '.$sfqk->sfxmmc ?></h1>
			<p><?php echo '应缴金额: '.$sfqk->ysje  ?></p>
			
			<p><?php echo '实缴金额: '.$sfqk->sjje  ?>	</p>
			<p><?php echo '减免金额: '.$sfqk->jmje  ?>	 </p>
			<p><?php echo '退费金额: '.$sfqk->tfje  ?>	</p> 
			<p><?php echo '欠费金额: '.$sfqk->qfje  ?>	</p> 
			</div>

			<?php
			}
			?>
 <include file="./Application/Home/View/Public/jmobile_black_footer.html" />