<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8"/>
  <title>夜跑介绍</title>
  
 
 <style type="text/css">
    body{
      margin-left: 10px;
  margin-right: 10px;
    }
 </style>
</head>
<body>
<div>
<div><center><b>NPU-Run! 瓜大版跑男来袭~</b></center></div><br><br>
<div><center><img src="__PUBLIC__/nightrun/images/1.jpg" height="100px" width="60%"></center></div>
    <div>&nbsp &nbsp 亲爱的瓜籽们，你是否因没基友陪伴而放弃了锻炼身体？你是否因人海茫茫而与女神无缘一见？你是否为一个完美的身材而整日泡在健身房？现在，这通通都不是问题啦！你只需要动动腿，带着自己的小伙伴们加入NPU-Run的夜跑大军，下一个迎娶白富美、走上人生巅峰的就是你！更有电影票等丰厚大奖等你拿！不用谢我，请叫我活雷锋~</div><br>
    <div> <font color="red">首期活动时间</font>：2014.12.5—2015.1.1 <br><br>
<font color="red">活动地点</font>：老校区足球场</div><br>
<div><center><img src="__PUBLIC__/nightrun/images/2.jpg" height="200px" width="90%"></center></div><br>
<div> <font color="red">参与方式</font>：无需报名，只要是<font color="red">瓜大生活圈关注用户</font>，即可持手机扫码参与活动，单次活动自动生成一个分享链接，同时系统自动生成单次夜跑时间、夜跑总时长，学生积分以及对应的排名信息，学生可通过瓜大生活圈服务号夜跑版块查询自己的排名与他人PK。</div><br>
<div> 周排名取前十名进行抽奖，三名中奖者获得电影票or雨伞，其余人员获得纪念品（卡贴/明信片/书签）；月排名前五直接获得电影票。集齐全套卡贴/明信片/书签者，可凭获奖凭证领取电影票/瓜大生活圈文化衫/相册任选一份。</div><br>
<div> 根据夜跑时长划分五个等级，每个Runner每达到新等级即可获得瓜大生活圈夜跑徽章+专有纪念品一份，奖品在瓜大生活圈基地领取。</div><br>
<div><center><img src="__PUBLIC__/nightrun/images/3.jpg" height="150px" width="75%"></center></div><br>
<div> <font color="red">积分只参与兑换奖品，排名单独按跑步时长计。</font></div><br>

<div> 奔跑吧兄弟！能不能勾搭到学妹，跑出马甲线就靠你们自己了，哥只能帮到这了~</div><br>
微信号：npulife<br>
订阅号：npulife2<br>


</div><br>
<center><b>西北工大微生活保留对本活动的最终解释权</b></center>
 
</body>
</html>