<html>
<head>
<meta charset="utf-8">
<meta id="viewport" name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">
<meta name="keywords" content="">
<METAHTTP-EQUIV="Pragma"CONTENT="no-cache">
<METAHTTP-EQUIV="Cache-Control"CONTENT="no-cache">
<METAHTTP-EQUIV="Expires"CONTENT="0">
<link rel="stylesheet" type="text/css" href="/Public/BigSchool/css/wap.css">
<link rel="stylesheet" type="text/css" href="/Public/BigSchool/css/wap_flow.css">
<title>硕士毕业生名单</title>
</head>

<style type="text/css">
    .{
        margin: 0;
        padding: 0;
    }
    #load-more{
    text-align:center;
        }

    .load-more{
    cursor:pointer;display:block;line-height:34px;height:34px;float:none;border:1px solid #ccc;text-align:center;
}
</style>


<body>

<content>    
    <div class="list_content" pull-fresh>
    
  
	    <section  class="middle_mode has_action">
	        <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204315020&idx=2&sn=5f73b4f6ca9151d136e3662f783a5d63#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
	            <h3>航空学院</h3>  
                <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/1.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
	        </a>
	    </section>
        
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204315020&idx=3&sn=8e8a5c311da61f332bc8c67a0adceddc#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>航天学院</h3>  
                 <div class="list_img_holder">
                    <img style="opacity: 2;" src="__PUBLIC__/graduate/xy/2.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204315020&idx=4&sn=75b3606d360018a6ad81a796bbedad34#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>航海学院</h3>  
                <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/3.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204315020&idx=5&sn=1274dac490a888bcb4f4c112f64941ef#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>材料学院</h3>  
                <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/4.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204315020&idx=6&sn=f9aa1fd7799663204558d066a2e1ec11#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>机电学院</h3>  
                <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/5.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204315020&idx=7&sn=e2207102d568e7453a2ca5694312e1eb#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>力学与土木建筑学院</h3>  
                <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/6.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204315020&idx=8&sn=ddb5c9ca287e1e39d81ed105dd0d0e0f#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>动力与能源学院</h3>  
                <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/7.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204317002&idx=2&sn=f0ad1553439b58ec2fd0a10b5126b330#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>电子信息学院</h3>  
                <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/8.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204317002&idx=3&sn=30d3d273cf682c8339d2755bf46603f7#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>自动化学院</h3>  
                <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/9.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204317002&idx=4&sn=c544b4a75176eef8921e4d2e2cc86b41#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>计算机学院</h3>  
                <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/10.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204317002&idx=5&sn=b04712a67cec76e2673d52963fa85327#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>理学院</h3>  
                 <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/11.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204317002&idx=6&sn=91823674ab3effce6fa2bb89425e5c19#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>管理学院</h3>  
                 <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/12.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204317002&idx=7&sn=45efb1c36ef0a387992ba777dcc4e84d#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>人文与经法学院</h3>  
                 <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/13.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204317002&idx=8&sn=5c8d9299a15078e15e85817fd2d154e4#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>软件与微电子学院</h3> 
                 <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/14.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div> 
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204317079&idx=2&sn=7a1070152d5f893ca3235667d82b8362#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>生命学院 </h3>  
                 <div class="list_img_holder">
                    <img style="opacity: 1;" src="__PUBLIC__/graduate/xy/15.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204317079&idx=3&sn=63b56b4d98a55b74e8573031f9860176#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>外国语学院 </h3>  
                 <div class="list_img_holder">
                    <img style="opacity: 2;" src="__PUBLIC__/graduate/xy/16.jpg" onerror="errorimg.call(this)" onload="loadimg.call(this)">
                </div>
            </a>
        </section>
        <!--
        <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204315020&idx=3&sn=8e8a5c311da61f332bc8c67a0adceddc#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>教育实验学院</h3>  
            </a>
        </section>
         <section  class="middle_mode has_action">
            <a href="http://mp.weixin.qq.com/s?__biz=MjM5OTI4NjUxMw==&mid=204315020&idx=3&sn=8e8a5c311da61f332bc8c67a0adceddc#rd" class="article_link clearfix" onClick="actionLog('click_headline','3712939382')">
                <h3>国际教育学院  </h3>  
            </a>
        </section>
        -->
    </div>
    
</content>

</body>
</html>