<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
#div1{
	margin-top:10%;
	margin-left:35%;
	margin-right:20%;
	margin-bottom:60%;
}
</style>
</head>

<body>
<form method="post" action="{:U('show')}"  >
<div id = "div1">
<input type="text" name="text1" style="width:260px; height:25px"/>
<input type="submit" value="抓取" style="width:100px; height:30px" />
</div>
</form>

</body>
</html>
