<include file="_head" />
    <div class="banner">
    	<div class="banner_wrap">
            <h2 class="desc_pic">西北工大微生活</h2>
            <div class="text_wrap">
                <h3 class="desc_title">西北工大微生活</h3>
                <ul>
                	<li><span>&nbsp;&nbsp;</span>研工部支持</li>
                    <li><span>&nbsp;&nbsp;</span>研究生创新基地开发</li>
                    <li><span>&nbsp;&nbsp;</span>西北工大微生活</li>
                    
                </ul>
                
                
            </div>
        </div>
    </div>
    
 
<include file="_footer" />