<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>[瓜大电台]{$theVoice['songname']}</title>
	<script src="/Tool/Public/Voice/playVoice_round2/js/jquery-1.9.0.min.js"></script>
	<script src="/Tool/Public/Voice/playVoice_round2/js/jquery-1.7.1.min.js"></script>

	<script type="text/javascript" src="/Tool/Public/Voice/playVoice_round2/js/jqModal.js"></script>

	<link rel="stylesheet" href="/Tool/Public/Voice/playVoice_round2/css/common.css" type="text/css" />

	<script type="text/javascript" src="/Tool/Public/Voice/playVoice_round2/js/content_zoom.js"></script>

	<link rel="stylesheet" href="/Tool/Public/Voice/playVoice_round2/css/stylesheets/style.css">
</head>
<body >

	<!-- <div class="top" > -->
		<div id="player">

				<div class="cover" ></div>
		
			<div class="ctrl">
				<div class="tag"> <strong>Title</strong>

				</div>
				<div class="control">
					<div class="left">
						<div class="playback icon" id="yuan"></div>
					</div>
					<div class="volume right"></div>
				</div>

			</div>
			<div class="progress">

				<div class="right"></div>

				<div class="slider">
					<div class="loaded"></div>
					<div class="pace"></div>
				</div>

				<div class="timer left">0:00</div>
			</div>


			<!--放置选手的自我S介绍-->
			<div id="playlist" >{$theVoice['introduce']}</div><br>
	
			<!--返回音乐列表-->
				<center>如果喜欢，别忘了点右上角分享,并关注我们的公众号--西北工大微生活(npulife), 获取最新鲜的电台更新哦， 您的支持是我们前进的动力~</center>

			<div class="return_list">
				<a href="http://wechat.npulife.com/Tool/index.php/Home/Diantai/listDiantai">返回电台列表</a><br>
			</div>
			<!-- <center>如果喜欢，别忘了点右上角分享哦， 您的支持是我们前进的动力~</center> -->
<br>
 
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{$theVoice['id']}" data-title="{$theVoice['songname']}" data-url="http://wechat.npulife.com/Tool/index.php/Home/Diantai/playDiantai?voiceid={$theVoice['id']}"></div>
<!-- 多说评论框 end -->


		
   	<center>&copy2013-2014瓜大生活圈团队出品</center>
<center>技术支持：李宽，黄志鹏</center>
<center>友情支持：校广播站，叶炳旭</center>

			<!-- <div class="tip">本版本当前仅支持微信播放</div> -->


			
			
		</div>
	<!-- </div> -->

	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
	var duoshuoQuery = {short_name:"npulife"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
		<script src="/Tool/Public/Voice/playVoice_round2/js/jquery-ui-1.8.17.custom.min.js"></script>
		<script src="/Tool/Public/Voice/playVoice_round2/js/script.js"></script>
		<script>
		
	(function($){
	// Settings
	
	var repeat = localStorage.repeat || 0,
		shuffle = localStorage.shuffle || 'false',
		continous = true,
		autoplay = true,
		playlist = [
		{
title: '<?php echo $theVoice['songname']?>',
artist:'<?php echo $theVoice['nickname']?>',
album: '亲,你想看到我吗',
// cover:'/Tool/Public/Voice/playVoice_round2/medias/photo/{$theVoice['name']}.jpg',
cover:'__PUBLIC__/diantai.jpg',
mp3: 'http://wechat.npulife.com/Tool/Upload/Diantai/{$theVoice['id']}.mp3'
},
];
	// Load playlist
	for (var i=0; i<playlist.length; i++){
		var item = playlist[i];
		//$('#playlist').append('<li>'+item.artist+' - '+item.title+'</li>');
	}

	var time = new Date(),
		currentTrack = shuffle === 'true' ? time.getTime() % playlist.length : 0,
		trigger = false,
		audio, timeout, isPlaying, playCounts;

	var play = function(){
		audio.play();
		$('.playback').addClass('playing');
		timeout = setInterval(updateProgress, 500);
		isPlaying = true;
	}

	var pause = function(){
		audio.pause();
		
		$('.playback').removeClass('playing');
		clearInterval(updateProgress);
		isPlaying = false;
	}

	// Update progress
	var setProgress = function(value){
		var currentSec = parseInt(value%60) < 10 ? '0' + parseInt(value%60) : parseInt(value%60),
			ratio = value / audio.duration * 100;

		$('.timer').html(parseInt(value/60)+':'+currentSec);
		$('.progress .pace').css('width', ratio + '%');
		$('.progress .slider a').css('left', ratio + '%');
	}

	var updateProgress = function(){
		setProgress(audio.currentTime);
	}

	// Progress slider
	$('.progress .slider').slider({step: 0.1, slide: function(event, ui){
		$(this).addClass('enable');
		setProgress(audio.duration * ui.value / 100);
		clearInterval(timeout);
	}, stop: function(event, ui){
		audio.currentTime = audio.duration * ui.value / 100;
		$(this).removeClass('enable');
		timeout = setInterval(updateProgress, 500);
	}});

	// Volume slider
	var setVolume = function(value){
		audio.volume = localStorage.volume = value;
		$('.volume .pace').css('width', value * 100 + '%');
		$('.volume .slider a').css('left', value * 100 + '%');
	}

	var volume = localStorage.volume || 0.5;
	$('.volume .slider').slider({max: 1, min: 0, step: 0.01, value: volume, slide: function(event, ui){
		setVolume(ui.value);
		$(this).addClass('enable');
		$('.mute').removeClass('enable');
	}, stop: function(){
		$(this).removeClass('enable');
	}}).children('.pace').css('width', volume * 100 + '%');

	$('.mute').click(function(){
		if ($(this).hasClass('enable')){
			setVolume($(this).data('volume'));
			$(this).removeClass('enable');
		} else {
			$(this).data('volume', audio.volume).addClass('enable');
			setVolume(0);
		}
	});

	// Switch track
	var switchTrack = function(i){
		if (i < 0){
			track = currentTrack = playlist.length - 1;
		} else if (i >= playlist.length){
			track = currentTrack = 0;
		} else {
			track = i;
		}

		$('audio').remove();
		loadMusic(track);
		if (isPlaying == true) play();
	}

	// Shuffle
	var shufflePlay = function(){
		var time = new Date(),
			lastTrack = currentTrack;
		currentTrack = time.getTime() % playlist.length;
		if (lastTrack == currentTrack) ++currentTrack;
		switchTrack(currentTrack);
	}

	// Fire when track ended
	var ended = function(){
		pause();
		audio.currentTime = 0;
		playCounts++;
		if (continous == true) isPlaying = true;
		if (repeat == 1){
			play();
		} else {
			if (shuffle === 'true'){
				shufflePlay();
			} else {
				if (repeat == 2){
					switchTrack(++currentTrack);
				} else {
					if (currentTrack < playlist.length) switchTrack(++currentTrack);
				}
			}
		}
	}

	var beforeLoad = function(){
		var endVal = this.seekable && this.seekable.length ? this.seekable.end(0) : 0;
		$('.progress .loaded').css('width', (100 / (this.duration || 1) * endVal) +'%');
	}

	// Fire when track loaded completely
	var afterLoad = function(){
		if (autoplay == true) play();
	}

	// Load track
	var loadMusic = function(i){
		var item = playlist[i],
			newaudio = $('<audio>').html('<source src="'+item.mp3+'"><source src="'+item.ogg+'">').appendTo('#player');
		
		$('.cover').html('<img src="'+item.cover+'" alt="'+item.album+'">');
		$('.tag').html('<strong>'+item.title+'</strong><span class="artist">'+item.artist);
		$('#playlist li').removeClass('playing').eq(i).addClass('playing');
		audio = newaudio[0];
		audio.volume = $('.mute').hasClass('enable') ? 0 : volume;
		audio.addEventListener('progress', beforeLoad, false);
		audio.addEventListener('durationchange', beforeLoad, false);
		audio.addEventListener('canplay', afterLoad, false);
		audio.addEventListener('ended', ended, false);
	}

	loadMusic(currentTrack);
	$('.playback').on('click', function(){
		if ($(this).hasClass('playing')){
			pause();
		} else {
			play();
		}
	});
	$('.rewind').on('click', function(){
		if (shuffle === 'true'){
			shufflePlay();
		} else {
			switchTrack(--currentTrack);
		}
	});
	$('.fastforward').on('click', function(){
		if (shuffle === 'true'){
			shufflePlay();
		} else {
			switchTrack(++currentTrack);
		}
	});
	$('#playlist li').each(function(i){
		var _i = i;
		$(this).on('click', function(){
			switchTrack(_i);
		});
	});

	if (shuffle === 'true') $('.shuffle').addClass('enable');
	if (repeat == 1){
		$('.repeat').addClass('once');
	} else if (repeat == 2){
		$('.repeat').addClass('all');
	}

	$('.repeat').on('click', function(){
		if ($(this).hasClass('once')){
			repeat = localStorage.repeat = 2;
			$(this).removeClass('once').addClass('all');
		} else if ($(this).hasClass('all')){
			repeat = localStorage.repeat = 0;
			$(this).removeClass('all');
		} else {
			repeat = localStorage.repeat = 1;
			$(this).addClass('once');
		}
	});

	$('.shuffle').on('click', function(){
		if ($(this).hasClass('enable')){
			shuffle = localStorage.shuffle = 'false';
			$(this).removeClass('enable');
		} else {
			shuffle = localStorage.shuffle = 'true';
			$(this).addClass('enable');
		}
	});
})(jQuery);

</script>
	<!-- </div> -->

</body>
</html>